<!--
Author: WebThemez
Author URL: http://webthemez.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends "site_base.html" %}
{% block Header %}
 	<header id="head" class="secondary">
            <div class="container">
                    <h1>About Us</h1>
                    <p></p>
                </div>
    </header>
{% endblock %}

    <!-- container -->
   {% block container %}
    <section class="container">
        <div class="row">
            <!-- main content -->
            <section class="col-sm-8 maincontent">
                <h3>About Us</h3>
                <p>
                    <img src="/assets/images/about.jpg" alt="about" class="img-rounded pull-right" width="300">
                    
                </p>
                <p></p>
                <h3>Our Achievements</h3>
                <strong>2015</strong>
                <p></p>
                <strong>2014</strong>
                <p></p>
                <strong>2013</strong>
                <p></p>
                <strong>2012</strong>
                <p></p>
            </section>
            <!-- /main -->

            <!-- Sidebar -->
            <aside class="col-sm-4 sidebar sidebar-right">

                <div class="panel">
                    <h4>Latest News</h4>
                    <ul class="list-unstyled list-spaces">
                        <li><a href="">President</a><br>
                            <span class="small text-muted"> </span></li>
                        <li><a href="">Vice president</a><br>
                            <span class="small text-muted"> </span></li>
                        <li><a href="">Principal</a><br>
                            <span class="small text-muted"> </span></li>
                        <li><a href="">Teaching Committee</a><br>
                            <span class="small text-muted"></span></li>
                        <li><a href="">Sport Committee</a><br>
                            <span class="small text-muted"></span></li>
                        <li><a href="">Art and Cultural Committee</a><br>
                            <span class="small text-muted"></span></li>
                          
                    </ul>
                </div>

            </aside>
            <!-- /Sidebar -->

        </div>
    </section>
    <div id="calendarblock"> </div>
  {% endblock %}
    <!-- /container -->
