<!--
Author: WebThemez
Author URL: http://webthemez.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends "site_base.html" %}
	<!-- Header -->
{% block header %}
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill">
            	
                <img src="assets/images/slides/img1.jpg">
                
            </div>
            <div class="carousel-caption">
                <h2>Caption 1</h2>
            </div>
        </div>
        <div class="item">
			<div class="fill">
                
                <img src="assets/images/slides/img2.jpg">
                
            </div>
            <div class="carousel-caption">
                <h2>Caption 2</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill">
            
                <img src="assets/images/slides/img3.jpg">
           
            </div>
            <div class="carousel-caption">
                <h2>Caption 3</h2>
            </div>
        </div>
                <div class="item">
            <div class="fill">
            
                <img src="assets/images/slides/img4.jpg">
             
            </div>
            <div class="carousel-caption">
                <h2>Caption 4</h2>
            </div>
        </div>
        
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
    </a>
</header>
{% endblock %}
{% block container %}
<section class="features">
  <div class="container">
  
  <div class="row">
  	<div class="col-md-offset-2 col-md-8">
  		<div class="b5">
  			<h1><marquee><a href="/Contact">Admission is open for Academic Year 2018-19</a></marquee></h1>
  		</div>
  	</div>
  </div>
    <div class="row">
					<div class="col-md-3">
					
						<div class="grey-box-icon b1"> 
							<h4>Blend of English and Mother tongue</h4>
							<p>Apart from teaching English subjects, we are enforcing the teachers to talk in English  and native language in other academic subjects. 
							This will enable the kid to learn more on spoken English.</p>
     						<p><a href="#"><em>Read More</em></a></p>
						</div><!--grey box -->
					</div><!--/span3-->
					<div class="col-md-3">
						<div class="grey-box-icon b2"> 
							<h4>Structured Academics</h4>
							<p>Teachers are well trained on Lesson planning and teach academics with stories and Activities. 
							Also teachers are well trained on motivating the kid in learning academic lessons.</p>
     						<p><a href="#"><em>Read More</em></a></p>
						</div><!--grey box -->
					</div><!--/span3-->
					<div class="col-md-3">
						<div class="grey-box-icon b3"> 
							<h4>Build Good Behavior</h4>
							<p>As we know the school is the best place to teach the morality, giving respect, 
							and buildup leadership qualities in the kid, we are following set of guidelines for the teachers to teach the same.</p>
     						<p><a href="#"><em>Read More</em></a></p>
						</div><!--grey box -->
					</div><!--/span3-->
					<div class="col-md-3">
						<div class="grey-box-icon b4">  
							<h4>Activity Based Learning</h4>
							<p>Practical activities and teach with small stories will help the Kids in learning quickly and remember. 
							Hence the teachers are trained and monitored by the management for effective implementing the same.</p>
     						<p><a href="#"><em>Read More →</em></a></p>
						</div><!--grey box -->
					</div><!--/span3-->
				</div>
    </div>
	</section>
      <section class="news-box top-margin">
        <div class="container">
            <h2><span>Courses</span></h2>
            <div class="row">
       
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><img src="/assets/images/news2.jpg" alt="news-2"></figure>
                            <div class="caption maxheight2">
                            <div class="box_inner">
                                        <div class="box">
                                            <p class="title"><h4>Pre-School</h4></p>
                                            <p>  School premises is very clean and hygienic. The Study of kids mental development says, kids mental development happens with more exposure to the environment.
                                             By keeping this in mind management came up with very spacious, hygienic and safe play ground. Kids will love a lot to play here</p>
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><img src="/assets/images/news3.jpg" alt="news-3"></figure>
                            <div class="caption maxheight2">
                            <div class="box_inner">
                                        <div class="box">
                                            <p class="title"><h4>Kindergarten</h4></p>
                                            <p>This is the time the kids will appreciate the stories. Management  has trained the teachers to create the interest in kids for listening and reading.
                                            The teaching of letters and words building happens in these courses. </p>
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><img src="/assets/images/news4.jpg" alt="news-4"></figure>
                            <div class="caption maxheight2">
                           <div class="box_inner">
                                        <div class="box">
                                            <p class="title"><h4>Primary and College Education (State Syllabus)</h4></p>
                                            <p>Yet to be done</p>
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><img src="/assets/images/news4.jpg" alt="news-4"></figure>
                            <div class="caption maxheight2">
                           <div class="box_inner">
                                        <div class="box">
                                            <p class="title"><h4>CBSE (Central) Syllabus)</h4></p>
                                            <p>Yet to be done</p>
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
   
  
	
      <section class="container">
      <div class="row">
      	<div class="col-md-8"><div class="title-box clearfix "><h2 class="title-box_primary">About Us</h2></div> 
        <p><span> Yet to be done</p>
        <a href="#" title="read more" class="btn-inline " target="_self">read more</a> </div>
              
          
          <div class="col-md-4"><div class="title-box clearfix "><h2 class="title-box_primary">Up Coming Courses</h2></div> 
            <div class="list styled custom-list">
            <ul>
            <li><a title="Mathematics and Computer Science" href="#">Mathematics and Computer Science</a></li>
            <li><a title="Mathematics and Philosophy" href="#">Mathematics and Philosophy</a></li>
            <li><a title="Philosophy and Modern Languages" href="#">Philosophy and Modern Languages</a></li>
            <li><a title="History (Ancient and Modern)" href="#">History (Ancient and Modern)</a></li>
            <li><a title="History (Ancient and Modern)" href="#">History (Ancient and Modern)</a></li>
            <li><a title="Physics and Philosophy" href="#">Physics and Philosophy</a></li>
            </ul>
            </div>
         </div>
      </div>
      </section>
      
{% endblock %} 	 
  