	<!--
Author: WebThemez
Author URL: http://webthemez.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	content="free-educational-responsive-web-template-webEdu">
<meta name="author" content="webThemez.com">
<title> Chirantana Edicational and Social Trust</title>
		<link rel="favicon" href="/assets/images/favicon.png">
		<link rel="stylesheet" media="screen"
			href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/css/bootstrap-theme.css"
			media="screen">
		<link rel="stylesheet" href="/assets/css/style.css">
		
		<link rel='stylesheet' id='camera-css' href='/assets/css/camera.css'
			type='text/css' media='all'>
		<link rel='stylesheet' href='/assets/css/bootstrap-datetimepicker.css' media="screen">
			
			
			<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<script src="assets/js/bootstrap-datepicker.js"></script>
	<![endif]-->
	
	<script type='text/javascript' src='/assets/js/jquery.min.js'></script>
	<script>
		function goBack() {
				window.history.back();
				
		}
		function resetForm() {
    		document.getElementById("messageForm").reset();
		}
		function Logout(){
			window.location = "{{ logout_url }}";
			windows.location = "/";
			
		}
		function Login(){
			window.location = "{{ login_url }}";
		}
		
		function goHome(){
			window.location = "/";
		}
		
							
				$(document).ready(function(){
    						$('input[type="radio"]').click(function(){
    							document.getElementById("completefullday").style.display='none';
    							document.getElementById("completemultipledays").style.display='none';
    							document.getElementById("fewhours").style.display='none';
    							document.getElementById("multipledayswithtime").style.display='none';
    							
        						if($(this).attr("value")=="completefullday"){			           
            							document.getElementById("completefullday").style.display='block';
        						}else if($(this).attr("value")=="completemultipledays"){
										document.getElementById("completemultipledays").style.display='block';
        						}else if($(this).attr("value")=="fewhours"){
          								document.getElementById("fewhours").style.display='block';
       							}else if($(this).attr("value")=="multipledayswithtime"){
          								document.getElementById("multipledayswithtime").style.display='block';
          						}
    						});
						});
					
		
		
	</script>
	{% block customscript %} {% endblock %}

<style>
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

</style>
</head>
<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="icon-bar"></span><span class="icon-bar"></span><span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/assets/images/logo.png"> <img
					src="/assets/images/logo.png" alt="Chirantana Logo"></a>
			</div>
			
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right mainNav">
					<li class="c2 {% if page == 'Home' %}active{% endif %}"><a
						href="/">Home</a></li>
					<li class="c3 {% if page == 'About' %}active{% endif %}"><a
						href="/About">About</a></li>
					<li class="c4 {% if page == 'Courses' %}active{% endif %}"><a
						href="/Courses">Courses</a></li>
					<li class="c5 {% if page == 'Teachers' %}active{% endif %}"><a
						href="/Teachers">Teachers</a></li>
					<li class="c6 {% if page == 'Events' %}active{% endif %}"><a
						href="/Events">Events</a></li>
					<li class="c7 {% if page == 'ContactUs' %}active{% endif %}"><a
						href="/Contact">Contact</a></li>
					{% block customnavbar %} 
						<li class="c2"><a href="/Login"><span class="glyphicon glyphicon-user"></span> Admin Login</a></li>
					{% endblock %}
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->
	<!-- Header -->
	{% block header %} {% endblock %}
	<!-- /Header -->
	{% block container %} {% endblock %}

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="footerbottom">
					<div class="col-md-3 col-sm-6">
						<div class="footerwidget">
							<h4>Course Categories</h4>
							<div class="menu-course">
								<ul class="menu">
								    <li><a href="#"> Pre-School</a></li>
								    <li><a href="#"> Kindergarten </a></li>
									<li><a href="#"> Primary to College (State)</a></li>
									<li><a href="#"> CBSE (Central) </a></li>
									
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="footerwidget">
							<h4>Trust Wings</h4>
							<div class="menu-course">
								<ul class="menu">
									<li><a href="#">  Educational</a></li>
									<li><a href="#">  Hospital </a></li>
									<li><a href="#">  Old-age ashrams </a></li>
									<li><a href="#">  Spiritual </a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="footerwidget">
							<h4>Management</h4>
							<div class="menu-course">
								<ul class="menu">
									<li><a href="#"> Mission of Trust</a></li>
									<li><a href="#"> Background of Trustees</a></li>
									<li><a href="#"> Social Sponsership</a></li>
									<li><a href="#"> Gallery</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="footerwidget">
							<h4>Contact</h4>
							<p> Chirantana Valley School, Kabbalu</p>
							<div class="contact-info">
								<i class="fa fa-map-marker"></i> Hosahalli, Satanuru Hobli<br>
								<i class="fa "></i> Kanakapura taluk, Ramangara district<br>
								<i class="fa "></i> Ramnagara-562126<br>
								<i class="fa fa-phone"></i>+91 804-953-3161<br> 
								<i class="fa fa-envelope-o"></i> chirantana.trust@gmail.com<br>
							</div>
						</div>
						<!-- end widget -->
					</div>
				</div>
			</div>
			<div class="social text-center">
				<a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i
					class="fa fa-facebook"></i></a> <a href="#"><i
					class="fa fa-dribbble"></i></a> <a href="#"><i class="fa fa-flickr"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
			</div>

			<div class="clear"></div>
			<!--CLEAR FLOATS-->
		</div>
		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="simplenav">
								<a href="/">Home</a> | <a href="/About">About</a> |
								<a href="/Courses">Courses</a> | <a href="/Teachers">Teachers</a>
								| <a href="/Events">Events</a> | <a href="/Contact">Contact</a>
							</p>
						</div>
					</div>

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="text-right">
								Copyright &copy; 2015. Template by <a
									href="http://webthemez.com/" rel="develop">WebThemez.com</a>
							</p>
						</div>
					</div>

				</div>
				<!-- /row of panels -->
			</div>
		</div>
	</footer>

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="/assets/js/modernizr-latest.js"></script>
	
	<script type='text/javascript'
		src='/assets/js/fancybox/jquery.fancybox.pack.js'></script>

	<script type='text/javascript'
		src='/assets/js/jquery.mobile.customized.min.js'></script>
	<script type='text/javascript' src='/assets/js/jquery.easing.1.3.js'></script>
	<script type='text/javascript' src='/assets/js/camera.min.js'></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/custom.js"></script>
	
	<script src="/assets/js/moment-with-locales.js"></script>
	<script src="/assets/js/bootstrap-datetimepicker.js"></script>
	
	<script>
		jQuery(function(){
			
			jQuery('#camera_wrap_4').camera({
                transPeriod: 500,
                time: 3000,
				height: '600',
				loader: 'false',
				pagination: true,
				thumbnails: false,
				hover: false,
                playPause: false,
                navigation: false,
				opacityOnGrid: false,
				imagePath: '/assets/images/'
			});

		});
      
	</script>

</body>
</html>
